*{
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.App-content-4 {
  min-height: 100vh;
}

#app {
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
}
