*{
  font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.App-content-4,
.App-background-2 {
  min-height: 100vh;
  padding-bottom: 65px !important;
}


#app {
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}
