.transactions__page__wrapper {
  position: relative;
  max-width: 1024px;
 margin: 0 auto;

  .loading__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.table--accounts {
  &.loading {
    filter: blur(1px);
  }
  .table__row--loading {
    height: 100px;

    .cell {
      text-align: center;
    }
  }
}
